<div class="container md-padding">
  <h1 class="mat-display-1">{{ 'settings.title' | translate }}</h1>

  <mat-card *ngIf="errorMessage" class="error--card">
    <mat-card-content>
      {{ 'error.general' | translate }} {{ errorMessage }}
    </mat-card-content>
  </mat-card>

  <div><strong>{{ 'settings.language' | translate }}: </strong></div>
  <div class="section">
    <div *ngFor="let lang of translate.getLangs()" class="lang-button">
      <button [ngClass]="lang == translate.currentLang ? 'mat-primary' : ''"
              mat-raised-button
              (click)="switchLanguage(lang)">
        {{ lang }}
      </button>
    </div>
  </div>

  <div><strong>{{ 'settings.apiurl' | translate }}: </strong></div>
  <div class="section">
    <a href="{{ environmentConfig.apiUrl }}" target="_blank">{{ environmentConfig.apiUrl }}</a>
  </div>

  <div><strong>{{ 'settings.backendconfig' | translate }}:</strong></div>
  <div class="section">
    <pre *ngIf="configuration">{{ configuration.raw }}</pre>
  </div>
</div>
