<div class="container md-padding">
  <h1 class="mat-display-1">{{ 'about.title' | translate }}</h1>

  <p [translate]="'about.intro'"></p>
  <p [translate]="'about.origin'"></p>

  <p>
    <a href="https://github.com/dev-jan/hslu-energymanagementsystem" target="_blank" rel="noopener">
      {{ 'about.github' | translate }}
    </a>
  </p>


  <h2>{{ 'about.license.title' | translate }}</h2>

  <p [translate]="'about.license.title'"></p>

  <p>Icon: <a href="https://fontawesome.com" target="_blank" rel="noopener">Fontawesome</a></p>
  <p>Pictures: <a href="https://unsplash.com/" target="_blank" rel="noopener">Unsplash</a></p>
  <p>Angular: <a href="/3rdpartylicenses.txt" target="_blank">3th Party licences</a></p>
</div>
