<div class="container md-padding">
  <h1 class="mat-display-1">Overview</h1>

  <h2>Total</h2>
  <mat-card *ngIf="totals" class="totals--card">
    <mat-card-content>
      <mat-card-title>{{ totals.energySum }} W</mat-card-title>
    </mat-card-content>
  </mat-card>

  <h2>Producers</h2>
  <mat-grid-list cols="5">
    <div *ngFor='let producer of producers'>
      <mat-grid-tile>
        <app-producer-detail [producer]="producer"></app-producer-detail>
      </mat-grid-tile>
    </div>
  </mat-grid-list>

  <h2>Consumers</h2>
  <mat-grid-list cols="5">
    <mat-grid-tile *ngFor='let consumer of consumers'>
      <app-consumer-detail [consumer]="consumer"></app-consumer-detail>
    </mat-grid-tile>
  </mat-grid-list>

</div>
