<div class="container md-padding">
  <h1 class="mat-display-1">{{ 'overview.title' | translate }}</h1>

  <h2>{{ 'totals.title' | translate }}</h2>
  <mat-card *ngIf="totalRequestError" class="error--card">
    <mat-card-content>
      {{ 'error.general' | translate }}: {{ totalRequestError }}
    </mat-card-content>
  </mat-card>
  <mat-card *ngIf="totals" class="totals--card">
    <mat-card-content>
      <mat-card-title>{{ totals.energySum | number : '1.0-2' }} W</mat-card-title>
    </mat-card-content>
  </mat-card>

  <h2>{{ 'producersAndStorages.title' | translate }}</h2>
  <div class="device--container">
    <div *ngFor='let producer of producers' class="device--tile">
      <app-producer-detail [producer]="producer"></app-producer-detail>
    </div>
    <div *ngFor='let storage of storages' class="device--tile">
      <app-storage-detail [storage]="storage"></app-storage-detail>
    </div>
  </div>

  <h2>{{ 'consumers.title' | translate }}</h2>
  <div class="device--container">
    <div *ngFor='let consumer of consumers' class="device--tile">
      <app-consumer-detail [consumer]="consumer"></app-consumer-detail>
    </div>
  </div>

</div>
