<div *ngIf="consumer" class="consumer--card">
  <mat-card>
    <img mat-card-image src="{{ consumer.image || fallbackImageUrl }}" alt="{{ consumer.type }}" />
    <mat-card-content>
      <mat-card-subtitle>
        <span>{{ consumer.name }}</span>
        <span *ngIf="consumer.status != 'UNKNOWN'"> ({{ consumer.status }})</span>
      </mat-card-subtitle>
      <mat-card-title>{{ consumer.currentConsumptionInWatt | number : '1.0-2' }} W</mat-card-title>
    </mat-card-content>
  </mat-card>
</div>
