<div class="container md-padding">
  <h1 class="mat-display-1">{{ 'events.title' | translate }}</h1>

  <div class="buttons">
    <button mat-raised-button (click)="reloadEvents()"><mat-icon>autorenew</mat-icon> {{ 'events.reload' | translate }}</button>
  </div>

  <table mat-table [dataSource]="events"
         class="mat-elevation-z6 event-table"
         aria-describedby="List of events">
    <ng-container matColumnDef="timestamp">
      <th scope="col" mat-header-cell *matHeaderCellDef>{{ 'events.timestamp' | translate }}</th>
      <td mat-cell *matCellDef="let element">{{ element.timestamp }}</td>
    </ng-container>
    <ng-container matColumnDef="level">
      <th scope="col" mat-header-cell *matHeaderCellDef>{{ 'events.level' | translate }}</th>
      <td mat-cell *matCellDef="let element">{{ element.level }}</td>
    </ng-container>
    <ng-container matColumnDef="name">
      <th scope="col" mat-header-cell *matHeaderCellDef>{{ 'events.module' | translate }}</th>
      <td mat-cell *matCellDef="let element">{{ element.name }}</td>
    </ng-container>
    <ng-container matColumnDef="text">
      <th scope="col" mat-header-cell *matHeaderCellDef>{{ 'events.message' | translate }}</th>
      <td mat-cell *matCellDef="let element">{{ element.text }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="eventColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: eventColumns;"></tr>
  </table>
</div>
